* {
   margin:0; padding:0
}

body {
   font-family: '맑은 고딕' 돋움; font-size:0.75em; color:#333
}

ul li{
   list-style-type: none;
}

.admin_menu{
   margin: auto ;
   width: 95%;   
}

.admin_menu ul{
   height:30px;
}

.admin_menu li{
   float:left;
   width:110px;
   height:30px;      
   line-height:30px;          /* 중앙정렬 */
   margin-right: 2px;
   text-align: center;
   background-color: #fff;
   border: 1px solid;
   border-radius:3px 3px 0 0;
   cursor: pointer;
}

.admin_menu li.selected{
   background-color: #ccc;
}

.tab-view{
   width:506px;
   height:100px;
   line-height: 100px;
   border: 1px solid gray;
   text-align:center;
   margin-top:-1px;
}


/*사이드 메뉴*/
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 215px;
    left: 10px;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #000000  ;
    display: block;
    border: 1px solid;
}

.sidenav a.selected {
    color: #fff;
    background: #9e9e9e;
}

.container {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu_point{
  float: right;
}
#side_title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/*사이드 메뉴 끝*/

/*상단 메뉴*/
hr.garo { border: solid #dedede; border-width: 1px 0 0;}


/*에디터*/
.note-editable{
  min-height: 400px;
}

.admin_position{
  text-align: right;
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}

.admin_title{
  text-align: left;
  display: inline;
  margin-left: 10px;
  font-size: 20px;
  width: 40%;
}

.btn_div, .search_div{
  float: right;
  margin-right: 10px;
}

.admin_list{  
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  background: #f7f7f7;
}

.thead_th{
  border-right: 5px solid #ffffff;
}

.tbody_td{
  border-bottom: 2px solid #e8e8e8;
  text-align: center;
  font-size: 15px;
}

.page_nav{
  margin-top: 15px;
  text-align: center;

}

.page_nav_btn{
  cursor: pointer;
  width: 20px;
}

.page_num{
  font-size: 15px;
  margin: 5px;
}

.page_select{
  color: red;
  width: 20px;
  font-weight: bold;

}

/*로딩 페이지*/

.wrap-loading{ /*화면 전체를 어둡게 합니다.*/
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: rgba(0,0,0,0.2); /*not in ie */
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000',endColorstr='#20000000');    /* ie */
}
.wrap-loading div{ /*로딩 이미지*/
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -21px;
  margin-top: -21px;
}
.display-none{ /*감추기*/
  display:none;
}

.month_cal{
  display: none;
}

.save_img{
  width: 15px;
}