@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

body {
	font-family: "Lato", sans-serif, "맑은 고딕", font-size : 0.75em;
	color: #333
}

ul li {
	list-style-type: none;
}

h4 {
	color: #1788d0 !important;
}

.btn.type05:hover, .btn.type05:focus, .btn.type05.focus {
	color: #333;
	text-decoration: none;
	background: #ddd;
}

.admin_header h1 {
	padding: 5px 0 !important;
}

.admin_menu {
	margin: auto;
	width: 95%;
	margin-bottom: 30px;
}

.admin_menu ul {
	height: 30px;
}

.admin_menu li {
	float: left;
	width: 110px;
	height: 30px;
	line-height: 30px; /* 중앙정렬 */
	margin-right: 2px;
	text-align: center;
	background-color: #fff;
	border: 1px solid;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
}

.admin_menu li>a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

.admin_menu li.selected {
	background-color: #d2eeff;
}

.tab-view {
	width: 506px;
	height: 100px;
	line-height: 100px;
	border: 1px solid gray;
	text-align: center;
	margin-top: -1px;
}

/*사이드 메뉴*/
.sidenav {
	width: 120px;
	position: relative;
	z-index: 1;
	margin-left: 30px;
	overflow-x: hidden;
	float: left;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 12px;
	color: #000000;
	display: block;
	border: 1px solid #3892cb;
	border-bottom: none;
}

.sidenav a:last-child {
	border-bottom: 1px solid #3892cb;
}

.sidenav a.selected {
	color: #fff;
	background: #3892cb;
	border: 1px solid #3892cb;
}

.container {
	float: right;
	width: calc(100% - 200px) !important;
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0 30px 30px 10px !important;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.menu_point {
	float: right;
}

.side_title {
	font-size: 19px;
	text-align: center;
	font-weight: 500;
	color: #1571c9;
	margin-bottom: 5px;
}
/*사이드 메뉴 끝*/

/*상단 메뉴*/
hr.garo {
	border: solid #dedede;
	border-width: 1px 0 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*에디터*/
.note-editable {
	min-height: 400px;
}

/*공통*/
.admin_position {
	text-align: right;
	display: inline-block;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 15px;
	float: right;
}

.admin_title {
	text-align: left;
	display: inline-block;
	margin-left: 10px;
	font-size: 20px;
	width: 40%;
}

.btn_div, .search_div {
	float: right;
	margin: 10px;
}

#search_select, #search_input, #period_select, .hasDatepicker, #cate_sel
	{
	padding: 0px 10px;
	box-sizing: border-box;
	line-height: 31px;
	height: 31px;
	border-radius: 4px;
	border-style: solid;
	border: 1px solid #666;
}

.admin_list {
	border-top: 2px solid #e8e8e8;
	border-bottom: 2px solid #e8e8e8;
	background: #f7f7f7;
}

.page_nav {
	margin-top: 15px;
	text-align: center;
}

.page_nav_btn {
	cursor: pointer;
	width: 20px;
}

.page_num {
	font-size: 15px;
	margin: 5px;
}

.on {
	color: red;
	width: 20px;
	font-weight: bold;
}

/*로딩 페이지*/
.wrap-loading { /*화면 전체를 어둡게 합니다.*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.2); /*not in ie */
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000',
		endColorstr='#20000000'); /* ie */
}

.wrap-loading div { /*로딩 이미지*/
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -21px;
	margin-top: -21px;
}

.display-none { /*감추기*/
	display: none;
}

.month_cal {
	display: none;
}

#search_select, .month_cal, .day_cal {
	float: left;
}

#search_select {
	margin-right: 3px;
}

.save_img {
	width: 15px;
}

/* 테이블 */
table {
	border-collapse: collapse;
	border-top: 3px solid #3892cb;
	margin-bottom: 25px;
}

table th {
	color: #3892cb;
	background: #f0f6f9;
	text-align: center;
	font-size: 14px !important;
}

table th, table td {
	padding: 8px;
	border: 1px solid #ddd;
}

table.list-table th:first-child, table.list-table td:first-child {
	border-left: 0;
	width: 40px;
}

table th:last-child, table td:last-child {
	border-right: 0;
}

table.list-table tr td:first-child {
	text-align: center;
}

table caption {
	caption-side: bottom;
	display: none;
}

/*상품관리-상품등록*/
#product_form h4, #product_update h4 {
	clear: both;
}

/*상품관리*/
.product_reg_tb {
	border-top: 2px solid #3fa2d5;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.product_reg_tb th {
	padding: 13px 0;
	padding-left: 23px;
	font-size: 15px;
	text-align: left;
	color: #333333;
	border-bottom: 1px solid #e8e8e8;
	background: #f7f7f7;
}

.product_reg_tb td {
	padding: 13px 23px;
	font-size: 14px;
	color: #333333;
	border-bottom: 1px solid #e8e8e8;
}

/*주문배송관리-판매완료*/
.summary_div {
	display: inline-block;
	font-size: 14px;
}

.summary_div span {
	display: inline-block;
	margin: 0 5px;
}

#cate_sel {
	display: none;
	margin: 0 5px;
}